
  @import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.header_index{
  background-color: bisque;
  height: 960px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}

.navbar h1{
  color: #DACA3B;
font-family: Chicle;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.onglets a {
  padding: 10px;
  font-size: 25px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}